<!DOCTYPE html>
<html>
<head>
	<title>We Dig It's Essential Oil Collection</title>
</head>
<body>

<!-- 
	Site colors are as follows :

	Red: #DE1A1A

	Pale Grey: #E8EBF7

	Pale Blue: #ACBED8

	Cream: #F2D398

	Orange: #D78521
 -->



	<div class="banner">
		<div class="wrapper">
			<h1 class="shoptitle">We Dig It<br><br> Essential Oil</h1>
		</div>
	</div>

	<div class="nav">
		<div class="wrapper">
			<a href="#">Popular</a>
			<a href="#">Categories</a>
			<a href="#">Learn More!</a>
			<a href="#" class="floatr">Cart<%= image_tag ("logos/flexcart.svg"), class: "cart" %></a>
		</div>
	</div>
	<center>
	<ul class="resources">
		<li>
			<%= image_tag ("oils/dot1.JPG"), class: "picbox" %>
		</li>
		<li>
			<%= image_tag ("oils/dot2.JPG"), class: "picbox" %>
		</li>
	</ul>
	<ul class="resources">
		<li>
			<%= image_tag ("oils/dot3.JPG"), class: "picbox" %>
		</li>
		<li>
			<%= image_tag ("oils/dot4.JPG"), class: "picbox" %>
		</li>
	</ul>
	<ul class="resources">
		<li>
			<%= image_tag ("oils/dot5.JPG"), class: "picbox" %>
		</li>
		<li>
			<%= image_tag ("oils/dot6.JPG"), class: "picbox" %>
		</li>
	</ul>
</center>

</body>
</html>